<form>

<div class="form-group">
<%= simple_form_for @doc do |f| %>
  <%= f.input :title, class: "form-control" %>
  <%= f.input :content, class: "form-control" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
 </div>
</form>